<div class='container'>
	<h5>Tickets</h5>
	<div class='row'>
		<div class='col-md-12'>
			<table class="table table-bordered table-hover">
				<tr>
				  <th> id </th>
				  <th> Type </th>
				  <th> Description </th>
				  <th> Edit </th>
				</tr>
				<tr ng-repeat="ticket in tickets">
    			<td ng-cloak>{{ ticket.id }}</td>
    			<td ng-cloak>{{ ticket.type }}</td>
    			<td ng-cloak>{{ ticket.description }}</td>
    			<td><a ng-href='/tickets/{{ticket.id}}'><i ng-click='editTicket(ticket.id)' class="glyphicon glyphicon-pencil"></i></a></td>
				</tr>
			</table>
		</div>
	</div>
	<div class='row'>
		<h5>Add ticket</h5>
		<div class='col-md-12'>
			<form ng-submit='addTicket()'>
			  <div class="form-group">
			    <label for="selectionType">Type</label>
			    <select class="form-control" id="selectionType" ng-model='form.type'>
			      <option selected disabled>Choose One</option>
			      <option value='task'>task</option>
			      <option value='incident'>incident</option>
			     	<option value='problem'>problem</option>
			      <option value='question'>question</option>
			    </select>
			  </div>
			  <div class="form-group">
			    <label for="descriptionTextArea">Description</label>
			    <textarea ng-cloak class='form-control' rows="3" id='descriptionTextArea' ng-model='form.description'></textarea>
			  </div>
			  <button type='submit' class="btn btn-default">Submit</button>
			</form>
		</div>
	</div>
</div>
