<div class='container'>
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<h5>Edit Ticket</h5>
				<form ng-submit='updateTicket()'>
				  <div class="form-group">
				    <label for="selectionType">Type</label>
				    <select class="form-control" id="selectionType" ng-model='ticket.type'>
				      <option selected disabled>Choose One</option>
				      <option value='task'>task</option>
				      <option value='incident'>incident</option>
				     	<option value='problem'>problem</option>
				      <option value='question'>question</option>
				    </select>
				  </div>
				  <div class="form-group">
				    <label for="descriptionTextArea">Description</label>
				    <textarea ng-cloak class='form-control' rows="3" id='descriptionTextArea' ng-model='ticket.description'></textarea>
				  </div>
				  <button type='submit' class="btn btn-default">Update</button>
				</form>
			</div>
		</div>
	<div class='row'>
		<div class='col-md-3'>
			<p><a ng-href='/'>Home</a></p>
		</div>
	</div>
	</div>
</div>
